.App {
	text-align: center;
	/* //standard maximums for chrome extensions */
	height: 600px;
	width: 600px;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: darkgray;
	background-blend-mode: soft-light;
	border: black;
	opacity: 0.5;
	width: 75%;
}

.currentWeather {
	flex: 1;
}

.weatherHistory {
	flex: 2;
}

.headlines {
	flex: 1;
	align-items: center;
}
.headline {
	text-decoration: none;
	text-align: left;
	margin-left: 10px;
	font-size: large;
	font-weight: bold;
}

#description {
	font-size: xx-small;
	font-style: italic;
}

/* link styling */
a {
	text-decoration: none;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a:visited {
	text-decoration: none;
	color: white;
}

/* Spinning react logo */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* more on spinning logo */
/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */
