body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		to bottom,
		rgba(43, 50, 178) 0%,
		rgba(20, 136, 204) 100%
	);
	color: white;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	height: 1000px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html {
	height: 100%;
}
